/*GLOBAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: #f4f7fa;
    color: #222;
    line-height: 1.6;
}

/*NAVBAR*/
.navbar{
    width: 100%;
    background: #1e2a47;
    padding: 18px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h2{
    color: #fff;
    letter-spacing: 1px;
}

.nav-links a{
    color: #ffffff;
    margin-left: 25px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.3s;
}

.nav-links a:hover{
    color: #ffcc00;
}

/*HOME PAGE*/
.hero{
    padding: 80px;
    text-align: center;
}

.hero h1{
    font-size: 48px;
    color: #1e2a47;
}

.hero p{
    font-size: 20px;
    margin-top: 10px;
    color: #333;
}

/*ABOUT PAGE*/
.about-section{
    width: 80%;
    margin: 50px auto;
    background: #ffffff;
    padding: 35px;
    border-radius: 12px;
    display: flex;
    gap: 30px;
}

.about-section img{
    width: 250px;
    height: 250px;
    border-radius: 12px;
    object-fit: cover;
}

.about-text{
    font-size: 18px;
}

/*SKILLS*/
.skills-container{
    width: 85%;
    margin: 40px auto;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 280px;
    padding: 25px;
    background: #fff;
    border: 2px solid #1e2a47;
    border-radius: 15px;
    text-align: center;
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-8px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.2);
}

.card h3{
    color: #1e2a47;
    margin-bottom: 8px;
}

.card p{
    font-size: 15px;
}

/*CONTACT FORM*/
.form-container{
    width: 60%;
    margin: 40px auto;
    background: #ffffff;
    padding: 35px;
    border-radius: 12px;
}

form input, form textarea{
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    font-size: 16px;
    border: 2px solid #1e2a47;
    border-radius: 8px;
}

button{
    background: #1e2a47;
    color: white;
    padding: 12px 25px;
    border: none;
    cursor: pointer;
    font-size: 17px;
    border-radius: 8px;
}

button:hover{
    background: #ffcc00;
    color: black;
    transition: 0.3s;
}


